//== Colors
//
//## Grayscale, Brand Colors & Portfolio Colors

$primary-color      :#687682;
$secondary-color    :#3f4234;
$success-color      :#a1bbd0;
$warning-color      :#d1a827;
$alert-color        :#f4e7d7; 

$light-gray         :#e6e6e6;
$medium-gray        :#cacaca;
$dark-gray          :#4d4d4d;
$black              :#0a0a0a;
$white              :#fefefe;

$se-color           :#5a151a;
$stg-color          :#f1f0f0;
$ss-color           :#001c1f;