/* =======================================================================
    Text
======================================================================== */

.text-white {
    color: $white;
}
.text-light-gray {
    color: $light-gray;
}
.text-dark-gray {
    color: $dark-gray;
}
.text-black {
    color: $black;
}
.text-primary {
    color: $primary-color;
}
.text-secondary {
    color: $secondary-color;
}
.text-success {
    color: $success-color;
}
.text-warning {
    color: $warning-color;
}
.text-alert {
    color: $alert-color;
}
.text-se {
    color: $se-color;
}
.text-stg {
    color: $stg-color;
}
.text-ss {
    color: $ss-color;
}