/* =======================================================================
    Footer
======================================================================== */

footer {
    &.home {
        background: $primary-color;
        ul{
            &.menu {
                >li {
                    font-size: rem-calc(14px);
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: rem-calc(1.5px);
                    &:first-child {
                        border-right: 1px solid $white;
                    }
                    >a {
                        color: $white;
                        padding-top: rem-calc(5px);
                        padding-bottom: rem-calc(5px);
                    }
                }
            }
        }
    }
    &.projects {
        @include flexbox;
        height: rem-calc(65px);
        background: $secondary-color;
        .row {
            width: 100%;
            .footer-project {
            @include flexbox;
            justify-content: space-between;
            margin: 0 auto;
                >li {
                    @include flexbox;
                    color: $white;
                    list-style: none;
                    text-transform: uppercase;
                    font-size: rem-calc(14px);
                    font-weight: 600;
                    letter-spacing: rem-calc(3px);
                    width: 15%;
                    height: rem-calc(25px);
                    justify-content: center;
                    a {
                        color: $white;
                        font-size: rem-calc(12px);
                        font-weight: 500;
                    }
                }
                .footer-home-link,
                .footer-back-link,
                .footer-grid-link {
                    a {
                        line-height: rem-calc(20px);
                        margin-left: rem-calc(20px);
                        &:before {
                            content: '';
                            height: rem-calc(25px);
                            width: rem-calc(25px);
                            background-size: contain !important;
                            position: absolute;
                            top: rem-calc(20px);
                        }
                        span {
                            position: absolute;
                            line-height: 0;
                            top: 50%;
                        }
                    }
                }
                .footer-home-link,
                .footer-grid-link {
                    padding-left: rem-calc(20px);
                    justify-content: flex-start;
                    a {
                        &:before {
                            left: rem-calc(15px);
                            @include breakpoint(xlarge){
                                left: 0;
                            }
                        }
                        span {
                            left: rem-calc(15px);
                            @include breakpoint(xlarge){
                                left: 0;
                            }
                            padding-left: rem-calc(35px);
                        }
                    }
                }                  
                .footer-home-link{
                    a {
                        &:before {
                            background: url(../img/icons/icon-home.svg) no-repeat;
                        }
                    }
                }                
                .footer-grid-link{
                    a {
                        &:before {
                            background: url(../img/icons/icon-grid.svg) no-repeat;
                        }
                    }
                }                
                .footer-back-link{
                    padding-right: rem-calc(20px);
                    justify-content: flex-end;
                    a {
                        &:before {
                            right: rem-calc(15px);
                            background: url(../img/icons/icon-arrow.svg) no-repeat;
                            @include breakpoint(xlarge){
                                right: 0;
                            }
                        }
                        span {
                            right: rem-calc(15px);
                            padding-right: rem-calc(35px);
                            @include breakpoint(xlarge){
                                right: 0;
                            }
                        }
                    }
                }
            }   
        }
    }
}