/* =======================================================================
    Typography
======================================================================== */

body {
    font-family: 'VisbyCF', sans-serif;
    font-weight: 300;
    color: $dark-gray;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5 {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: 'VisbyCF', sans-serif;
    font-weight: 600;
    font-size: rem-calc(42px);
    text-transform: uppercase;
    @include breakpoint (medium) {
        font-size: rem-calc(72px);
    }
}
h2 {
    font-family: 'VisbyCF', sans-serif;
    font-weight: 300;
    font-size: rem-calc(42px);
    line-height: rem-calc(52px);
    @include breakpoint (medium) {
        font-size: rem-calc(60px);
        line-height: rem-calc(72px);
    }
}
h3 {
    font-family: 'VisbyCF', sans-serif;
    font-weight: 600;
    font-size: rem-calc(18px);
    text-transform: uppercase;
    @include breakpoint (medium) {
        font-size: rem-calc(24px);
    }
}
h4 {
    font-family: 'VisbyCF', sans-serif;
    font-weight: 600;
    font-size: rem-calc(16px);
    text-transform: uppercase;
    @include breakpoint (medium) {
        font-size: rem-calc(18px);
    }
}
h5 {
    font-family: 'VisbyCF', sans-serif;
    font-weight: 500;
    font-size: rem-calc(12px);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    @include breakpoint (medium) {
        font-size: rem-calc(14px);
    }
}
h6 {
    font-family: 'QuincyCF', serif;
    font-weight: 500;
    font-size: rem-calc(18px);
    display: inline-block;
    position: relative;
    right: 95px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

p {
    color: $dark-gray;
    font-size: rem-calc(18px);
}

a {
    color: $dark-gray;
    &:hover {
        color: inherit;
    }
}
