/* =======================================================================
    Main
======================================================================== */

#projects-hero,
#projects-mobile-img,
#projects-next {
    height: rem-calc(300px);
    @include breakpoint(medium) {
        height: rem-calc(450px);
    }
}

.project-single {
    #projects-hero {
        background-size: cover !important;
    }
    #projects-mobile-img {
        background-size: cover !important;
        @include breakpoint(medium) {
            background-size: contain !important;
        }
    }
    &.project-se {
        #projects-hero {
            background: url(../img/se-hero.jpg) no-repeat center center;
        }
        #projects-mobile-img {
            background: $se-color url(../img/se-mobile.png) no-repeat center center;
        }
    }
    &.project-stg {
        #projects-hero {
            background: url(../img/stg-hero.jpg) no-repeat center center;
        }
        #projects-mobile-img {
            background: $stg-color url(../img/stg-mobile.png) no-repeat center center;
        }
    }    
    &.project-ss {
        #projects-hero {
            background: url(../img/ss-hero.jpg) no-repeat center center;
        }
        #projects-mobile-img {
            background: $ss-color url(../img/ss-mobile.png) no-repeat center center;
        }
    }    
    &.project-gs {
        #projects-hero {
            background: url(../img/gs-hero.jpg) no-repeat center center;
        }
    }    
}

#projects-description {
    .title {
        margin-bottom: rem-calc(45px);
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: rem-calc(45px);
            right: 103%;
            width: 100%;
            height: 1px;
            background-color: $dark-gray;
        }
    }
    .details {
        margin-bottom: rem-calc(20px);
        h5 {
            margin-bottom: 0;
        }
    }
}

#projects-browser-img {
    @include breakpoint(medium) {
        padding-top: rem-calc(200px);    
    }
    .browser-img {
        position: relative;
        @include flexbox;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @include breakpoint(medium) {
            justify-content: flex-end;
        }
        img {
            -webkit-border-radius: rem-calc(5px);
            -moz-border-radius: rem-calc(5px);
            border-radius: rem-calc(5px);
            -webkit-box-shadow: 0px 0px 5px $dark-gray;            
            -moz-box-shadow: 0px 0px 5px $dark-gray;            
            box-shadow: 0px 0px 5px $dark-gray;
            margin-bottom: 30px;
            @include breakpoint(medium) {
                width: 50%;
            }
            @include breakpoint(large) {
                width: auto;
            }
            &:first-child {
                @include breakpoint(medium) {
                    position: absolute;
                    left: rem-calc(30px);
                    top: -10%;
                    z-index: -1;
                }
            }
        }
    }
}

#projects-next {
    
}